<div class="container-fluid">
    <div class="col-12 d-flex justify-content-end mt-5">
        <button mat-raised-button color="primary" (click)="addBoard()">ADD</button>
    </div>
    <div class="col-12 mt-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-4 d-flex justify-content-center" style="padding: 15px;"
                *ngFor="let board of allBoardsData$ | async">
                <div class="card" (click)="removeBoard(board)">
                    <span>{{board.name}}</span>
                </div>
            </div>

        </div>
    </div>
</div>