<div class="login_background">
    <div class="container-fluid">
        <div class="col-12">
            <div class="row justify-content-start align-items-center min-vh-100">
                <div class="form-container" style="margin-right: 1rem;">
                    <form class="example-form" [formGroup]="loginForm" style="padding: 20px;">
                        <mat-form-field class="example-full-width col-10">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Ex. pat@example.com">
                        </mat-form-field>

                        <mat-form-field class="example-full-width col-10">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Ex. pat@example.com">
                        </mat-form-field>

                        <mat-form-field class="example-full-width col-10">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Ex. pat@example.com">
                        </mat-form-field>

                        <mat-form-field class="example-full-width col-10">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Ex. pat@example.com">
                        </mat-form-field>

                        <div class="col-12">
                            <div class="row justify-content-end">
                                <div class="col-5">
                                    <button mat-raised-button>SignUp for free</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>