.navbar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 25px 0px;
    transition: box-shadow 0.3s ease-in-out;
    position: sticky;
}

.navbar:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 10px 0px;
}